  #chat-container {
    width: 100%;
    background-color:white;
    /* background-image: linear-gradient(to right, rgba(237, 155, 125, 0.789), rgba(237, 155, 125, 0.258)); */
    padding: 5px;
    border: 2px solid rgb(65, 74, 148);
    border-radius: 10px;
    margin-top: 2%;
    height: 480px;
    border: 1px solid #ccc;
    overflow-y:scroll; /* Add overflow-y property to enable vertical scrolling */
  }
  
  /* Adjust the width of the user input */
  #user-message {
    flex-grow: 1;
    padding: 2%;
    border-radius: 20px;
    border: 2px solid rgb(84, 76, 152);
    width: 50%; /* Adjust the width as needed */
    margin-bottom: 10px;
  }
  
  header {
  width:auto;
  margin:-1%;
  }
  
  #main-content {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin-top: 2%;
  }
  .table-container {
    max-height: 535px; /* Set the maximum height of the container */
    overflow: auto; /* Add a scroll bar if content overflows */
  }
  
  div table {
  border-collapse: collapse;
  width: 100%;
  }
  div th{
  border: 2px solid rgb(244, 239, 239);
  background-color: rgba(49, 49, 186, 0.777); 
  font-size: 20px;
  color:white;
  top:0;
  z-index: 1;
  text-align:center;
  position: sticky;
  }
  div td {
  border: 2px solid rgb(244, 239, 239);
  background-color: rgba(111, 111, 168, 0.382); 
  font-size: 18px;
  font-weight: 600;
  color:rgb(9, 9, 9);
  text-align:center;
  }
  
  button[type="submit"] {
  padding: 10px;
  border-radius: 10px;
  background-color: lavender;
  color:rgb(38, 38, 155);
  border: 2px solid blue;
  font-size: 1rem;
  margin-top: -10%;
  font-weight: bold;
  }
  
  button[type="submit"]:hover {
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(44, 44, 162, 0.655);
  color: rgb(253, 250, 249);
  border: 2px solid rgb(4, 4, 29);
  font-size: 1rem;
  margin-top: -10%;
  font-weight: bold;
  }
  
  .user-message{
    font-family: "Nunito", sans-serif;
    background-color:rgba(63, 63, 178, 0.789);
    /* light color */
    text-align: left;
    /* changed text align to left */
    padding: 10px;
    /* added padding */
    color: white;
    width: fit-content;
    float: right;
    margin-top: 2%;
    margin-bottom: 2%;
    margin-right: 5%;
    align-items: center;
    border-radius: 20px 15px 0px 20px;
    word-wrap: break-word; /* Add word-wrap property to wrap long messages */
  }
  
  .bot-message {
    font-family: "Nunito", sans-serif;
    background-color: rgba(151, 151, 199, 0.53);
    text-align: left;
    padding: 10px;
    /* added padding */
    color: black;
    float:left;
    width: fit-content;
    margin-left: 5%;
    margin-top: 5%;
    margin-right: 5%;
    margin-bottom: 2%;
    align-items: center;
    border-radius: 20px 15px 0px 20px;
    word-wrap: break-word; /* Add word-wrap property to wrap long messages */
  }
  
  .user-message img,
  .bot-message img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  @media only screen and (min-device-width: 320px) and (max-device-width: 400px) {
  #chat-window {
  width: 90%;
  }
  }
  .main-title {
  font-size: 1.5rem;
  text-align: center;
  font-family: cursive;
  margin-top: 20%;
  margin-bottom: 0.5rem;
  color: white;
  margin-top: 2%;
  background-color: rgba(12, 12, 79, 0.497); 
  font-weight: bold;
  border-radius: 5px;
  }
