<!DOCTYPE html>
<html>
<head>
    <title>Chat Bot</title>
    <link rel="stylesheet" href="/static/CSS/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
      <!-- <link rel="stylesheet" type="text/css" href="static/CSS/index.css" /> -->
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
      
</head>
<body style="background-color: lavender">
    <nav class="navbar navbar-expand-sm sticky-top" style="background-color:rgba(45, 45, 170, 0.763); ">
        <div class="container">
            <a class="navbar-brand" href="#">
              <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSG0ywy2S1tMbVGncGOFX3RB9UFmaiWhLGFyINC8szYLLDDZZMx_UoMhOR6oHHo0y6qgaY&usqp=CAU" alt="logo"
              style="height:60px;width:65px;border-radius: 50%;">&nbsp; </a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <i class="fa fa-bars" aria-hidden="true"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto" style="float:right;">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" style="color:white;font-weight: bold;font-size:24px">ABOUT</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li> -->
                </ul>
            </div>
        </div>
    </nav>
    
    <section id="banner">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="main-title">Welcome to Happy Home Kitchen Food</div>
            <div id="chat-container"></div>
            <center>
              <input type="text" id="user-message" placeholder="Ask question...." autofocus />
              <button id="send-button" type="submit"><i class="fa fa-paper-plane fa-lg"></i></button>
              <button type="submit" id="startButton"><i class="fa fa-microphone fa-lg"></i></button>
              <button type="submit" id="stopButton"><i class="fa fa-microphone-slash fa-lg" style="--fa-primary-color: #ffffff; --fa-secondary-color: #ffffff;"></i></button>
              <button type="submit" id="placeOrder" style="background-color: rgba(0, 0, 255, 0.763); color:white;">Place Order</button>
            </center>
          </div>
          
          <div class="col-md-6 text-center" style="margin-top: 1%;">
            <div id="table-content" align="center">
              <!-- Add tab components here -->
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" id="menu-tab" data-bs-toggle="tab" href="#menu-content" role="tab" aria-controls="menu-content" aria-selected="true" style="font-size:22px;font-weight: 500;">Menu</a>
                </li>
                <li class="nav-item" role="presentation">
                  <a class="nav-link" id="order-tab" data-bs-toggle="tab" href="#order-content" role="tab" aria-controls="order-content" aria-selected="false" style="font-size:22px;font-weight: 500;">Order</a>
                </li>
              </ul>
              <div class="tab-content">
                <div class="tab-pane fade show active" id="menu-content" role="tabpanel" aria-labelledby="menu-tab">
                  <!-- Menu content goes here -->
                  <div class="table-container">
                    <table id="menu">
                      <thead>
                        <tr>
                                <th>Item</th>
                                <th>Cost (in Rs.)</th>
                              </tr>
                      </thead>
                      <tbody>
                        <tr><td>Plain dosa</td><td>60/-</td></tr>
                              <tr><td>Onion dosa</td><td>70/-</td></tr>
                              <tr><td>Onion butter dosa</td><td>70/-</td></tr>
                              <tr><td>Ghee dosa</td><td>70/-</td></tr>
                              <tr><td>Karam dosa</td><td>70/-</td></tr>
                              <tr><td>Avakaya dosa</td><td>70/-</td></tr>
                              <tr><td>Paneer dosa</td><td>80/-</td></tr>
                              <tr><td>Ghee karam dosa</td><td>80/-</td></tr>
                              <tr><td>70mm dosa</td><td>110/-</td></tr>
                              <tr><td>Ghee karam 70mm dosa</td><td>110/-</td></tr>
                              <tr><td>Masala Dosa</td><td>70/-</td></tr>
                              <tr><td>Onion Masala Dosa</td><td>80/-</td></tr>
                              <tr><td>Butter Masala Dosa</td><td>90/-</td></tr>
                              <tr><td>Paneer Masala Dosa</td><td>90/-</td></tr>
                              <tr><td>Avakaya Masala Dosa</td><td>90/-</td></tr>
                              <tr><td>Cheese Masala Dosa</td><td>100/-</td></tr>
                              <tr><td>Ghee Karam Masala Dosa</td><td>100/-</td></tr>
                              <tr><td>Schezwan Dosa</td><td>180/-</td></tr>
                              <tr><td>Butter Schezwan Dosa</td><td>180/-</td></tr>
                              <tr><td>Paneer Schezwan Dosa</td><td>180/-</td></tr>
                              <tr><td>Cheese Schezwan Dosa</td><td>180/-</td></tr>
                              <tr><td>Ravva Dosa</td><td>60/-</td></tr>
                              <tr><td>Onion Ravva Dosa</td><td>70/-</td></tr>
                              <tr><td>Ravva Masala Dosa</td><td>70/-</td></tr>
                              <tr><td>Ghee Ravva Dosa</td><td>70/-</td></tr>
                              <tr><td>Onion Ravva Masala Dosa</td><td>80/-</td></tr>
                              <tr><td>Cheese Ravva Dosa</td><td>80/-</td></tr>
                              <tr><td>Cheese Ravva Masala Dosa</td><td>90/-</td></tr>
                              <tr><td>Ravva Upma Dosa</td><td>90/-</td></tr>
                              <tr><td>Onion Ghee Dosa</td><td>80/-</td></tr>
                              <tr><td>Butter Dosa</td><td>70/-</td></tr>
                              <tr><td>Steam Dosa</td><td>90/-</td></tr>
                              <tr><td>Set Dosa</td><td>100/-</td></tr>
                              <tr><td>Uthappam</td><td>60/-</td></tr>
                              <tr><td>Onion Uthappam</td><td>70/-</td></tr>
                              <tr><td>Mixed Uthappam</td><td>90/-</td></tr>
                              <tr><td>Pesaraptu</td><td>60/-</td></tr>
                              <tr><td>Onion Pesaraptu</td><td>70/-</td></tr>
                              <tr><td>Mixed Pesaraptu</td><td>90/-</td></tr>
                              <tr><td>Ghee Mila Pesarattu</td><td>110/-</td></tr>
                              <tr><td>Ghee Mila Dosa</td><td>110/-</td></tr>
                              <tr><td>Ghee Paneer Dosa</td><td>130/-</td></tr>
                              <tr><td>Cheese Paneer Dosa</td><td>130/-</td></tr>
                              <tr><td>Butter Paneer Dosa</td><td>130/-</td></tr> 
                
                      </tbody>
                    </table>
                  </div>
                </div>
                
                <div class="tab-pane fade" id="order-content" role="tabpanel" aria-labelledby="order-tab">
                  <!-- Order content goes here -->
                  <!-- You can add your order-related components and content here -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>   
    
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.3/axios.min.js"></script>
 <script src="/static/JS/app4.js"> </script>
</body>
</html>