<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/CSS/home_page.css">
    <title>Order Bot</title>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
        integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">

      </head>
<body>
    <header>
        <div class="container">
            <a class="logo" href="templates/index.html">
                <img src="/static/orderbot_logo.jpg" alt="Logo" style="margin-left: 15%;margin-top: 5px;">
            </a>
            <br>
            <div class="text-container">
                <p class="text" style="font-size: 22px;margin-left: 5%;">
                    <b>A <span style="color: blue;">Cloud</span><span style="color:orange">Karya </span>Company</b>
        
                </p>
            </div>
        </div>
        <nav>
            <ul>
                <li><a href="#">About</a></li>
            </ul>
        </nav>
        
    </header>
    
    <div class="background" style="background-color: lavender;">
        <div class="card-container">
            <div class="card">
             <a href="/templates/hotel1.html"><img src="/static/Ethnic_food.jpg" alt="Hotel"></a>  
              <h2>Ethnic Food</h2>
            </div>
            <div class="card">
                <a href="/templates/hotel2.html"><img src="/static/Alankar_tiffin.jpg" alt="Hotel"></a>  
                 <br> <h2>Alankar Tiffins</h2><br>
                  <h3>Sriharipuram</h3>
            </div>
            <div class="card">
            <a href="/templates/hotel3.html"><img src="/static/vasena_poli.jpg" alt="Hotel" style="border-radius: 50%;"></a>  
               <h2>Vasena Poli</h2>
            </div>
            <div class="card">
            <a href="/templates/hotel4.html"><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSG0ywy2S1tMbVGncGOFX3RB9UFmaiWhLGFyINC8szYLLDDZZMx_UoMhOR6oHHo0y6qgaY&usqp=CAU" alt="Hotel"></a>  
               <h2>Home foods</h2> 

            </div>
            <!-- Add more cards here -->
        </div>
    </div>
    <br>
    <footer>
        <div align="left" style="margin-left:5%;">
            
                <img src="/static/orderbot_logo.jpg" alt="Logo" style="width:80px;border-radius: 50%;">
                
                <p><i class="fas fa-map-marker-alt"></i> Ground Floor, 10/1/38, <br><br>
                    Sampath Vinayaka Temple Rd,Opposite Kalyan Jewellers,<br><br>
                    Waltair Uplands, Asilmetta, Visakhapatnam,<br><br>
                    Andhra Pradesh,530003<br><br>
                    India
                </p>
            
        </div><br><br>
        <div>
            <ul>
                <li>
                    <a href="#"><i class="fab fa-facebook-f icon"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-twitter icon"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-linkedin-in icon"></i></a>
                </li>
                <li>
                    <a href="#"><i class="fab fa-google-plus-g icon"></i></a>
                </li>
            </ul>
        </div>
        <br><br><br>
        <div>
            <p align="center">
                <b>Powered by OrderBot</b><br><br>
                &copy; &nbsp;CloudKarya,Inc.
            </p>
        </div>
    </footer>
    
</body>
</html>
